langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
sentence-transformers
pypdf
docx2txt
unstructured
beautifulsoup4
fastapi
uvicorn
streamlit
python-dotenv
langchain-pinecone
pinecone
langchain-groq
langchain-tavily
requests
langchain-huggingface
python-multipart